/* header */
.background {
    background: #0F0B2C url(./img/background.png);
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
}

.navbar-toggler-icon {
    color: #cb0981 !important;
}

.nav-home {
    margin-left: 190px !important;
}

.nav-link {
    color: white !important;
    margin-top: 38px;
    margin-left: 32px;
}

.header-nav-logo {
    margin-top: 25px;
    margin-left: 30px;
    display: block;
}

.header-nav-logo-mv {
    width: 44px;
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    display: none;
}

.header-nav-language {
    height: 26px;
    width: 26px;
    margin-top: 45px;
    margin-left: 20px;
    display: block;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(230, 116, 200);
}

.navbar-collapse {
    justify-content: center;
}

.header-container {
    flex-direction: row;
}

.header__title {
    color: white;
    font-weight: 400;
    font-size: 54px;
    line-height: 73px;
    margin-top: 30%;
    text-align: left;
}

.header__title-color {
    background: linear-gradient(90deg, #3466A9, #cb0981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 54px;
    line-height: 73px;
    margin-top: -20px;
    text-align: left;
}


.header__text {
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-align: left;

}

.header-button {
    margin-left: 5%;
    height: 74px;
    width: 300px;
    background: linear-gradient(90deg, #3466A9 4.94%, #901662 98.57%);
    border-radius: 126px;
    position: relative;
    border: none;
}

.header-button__text {
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18.8364px;
    line-height: 25px;
    margin-top: -3%;
    margin-left: 23%;
}

.header__img {
    position: relative;
}

.header__img-under {
    width: 460px;
    height: 546px;
    margin-top: 3%;
    margin-left: 8%;

}

.header__img-above {
    width: 380px;
    height: 516px;
    position: absolute;
    margin-top: 80px;
    margin-left: -410px;
}

.header__search {
    width: 620px;
    height: 62px;
    background: rgba(255, 255, 0, 0);
    border-radius: 112px;
    border: 4px solid rgb(190, 40, 167);
    margin-left: 20%;
    margin-top: 5%;
}

/* Watch-learn */

.watch-learn__title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 10%;
}

.watch-learn__title-color {
    text-transform: uppercase;
    background: linear-gradient(90deg, #cb0981, #3466A9 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.watch-learn__text {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    margin-top: 1%;
}

.watch-learn__video {
    margin-top: 3%;
}

.video {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px
}

/* /NFT-101 */
.NFT-101__title {
    text-align: center;
    margin-top: 10%;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    background: linear-gradient(90deg, #cb0981 34%, #3466A9 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.NFT-101__text {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}


.NFT-101-swiper {
    width: 1095px;
    height: 500px;
    margin-top: 4%;
    display: block;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 30px;
    width: 345px !important;
    height: 326px !important;
    margin-top: 7%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 345px;
    height: 326px;
    object-fit: cover;
    border-radius: 30px;
}

.NFT-101-swiper-button-next {
    background: rgba(255, 255, 255, 0.8);
    height: 58px !important;
    width: 58px !important;
    border-radius: 50%;
    color: #DA329A !important;
}

.NFT-101-swiper-button-prev {
    background: rgba(255, 255, 255, 0.8);
    height: 58px !important;
    width: 58px !important;
    border-radius: 50%;
    color: #DA329A !important;
}

.NFT-101-swiper-text {
    position: absolute;
    color: white;
    text-align: center;
    margin-bottom: -210px;
    margin-left: 10px;
    margin-right: 10px;
}

.swiper-mv {
    width: 356px;
    height: 426px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.swiper-slide-mv {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 10px;
}

.text-mv {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 200px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after {
    font-size: 25px;
}

.swiper-button-prev:after {
    font-size: 25px;
}

.swiper-button-next-mv {
    background: rgba(255, 255, 255, 0.8);
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    color: #DA329A !important;
}

.swiper-button-prev-mv {
    background: rgba(255, 255, 255, 0.8);
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    color: #DA329A !important;
}


.NFT-101-point-container-first {
    position: relative;
    height: 100px;
}

.NFT-101-point__title {
    text-transform: uppercase;
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5%;
    margin-left: 25%;
}

.NFT-101-point__img {
    position: absolute;
    margin-top: 4%;
    margin-left: 18%;
    width: 72px;
    height: 72px;
}

.NFT-101-point__text {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    margin-top: 7%;
    margin-left: 25%;
}

.NFT-101-point__line {
    position: absolute;
    width: 900px;
    height: 4px;
    background: linear-gradient(90deg, rgba(218, 50, 154, 0.2) 2.59%, rgba(52, 102, 169, 0.2) 93.29%);
    margin-top: 10%;
    margin-left: 18%;
}

.NFT-101-point__arrow {
    position: absolute;
    margin-top: 6%;
    margin-left: 77%;
}

.NFT-101-point-container-second {
    position: relative;
    height: 100px;
}

.NFT-101-point-container-third {
    position: relative;
    height: 300px;
}

/* footer */

.footer__img {
    position: absolute;
}

.footer__venus {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-left: 4%;
    margin-top: 0.5%;
}

.footer__text {
    color: white;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 12%;
}

.footer__icon {
    margin-top: 2%;
    width: 198px;
    height: 43px;
}

.footer__title {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    margin-top: 35%;
    margin-left: -20%;
}

.footer__title-point {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 9px;
    line-height: 12px;
    margin-top: 25%;
    margin-left: -20%;
}



.footer__title-end {
    margin-top: 30px;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer__input {
    width: 257px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    display: flex;
}

.footer__input :focus {
    border-radius: 15px;
}


.search__input ::placeholder {
    padding-left: 15px;
}

.search__input {
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
}

.search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 100%;
    background: linear-gradient(130.68deg, #DA329A -84.8%, #3466A9 134.31%);
    border-radius: 15px;
}